RewriteEngine on
# Cambiar tudominio.com a tu dominio principal.
		# entre los parentesis va el www. o http://
RewriteCond %{HTTP_HOST} ^()?selvaconstructor.com$

# Cambiar 'subfolder' por el directorio que se desea usar como dominio principal. Osea public
RewriteCond %{REQUEST_URI} !^/subfolder/

# NO cambiar esta línea
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Cambiar 'subfolder' por el directorio que se desea usar como dominio principal. Osea public
RewriteRule ^(.*)$ /subfolder/$1



# Cambiar tudominio.com a tu dominio principal (otra vez).
RewriteCond %{HTTP_HOST} ^(http://)?selvaconstructor.com$
# Cambiar 'subfolder' por el directorio que se desea usar como dominio principal. Osea public
# seguido por la contrabarra/ y el archivo principal de tu sitio, index.php, index.html, etc.
RewriteRule ^(/)?$ subfolder/index.php [L] 